In [5]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from bqplot import pyplot 

import folium
import fiona
import gdal
import rasterio
import shapefile as shp

import os

import chart_studio.plotly
import plotly.graph_objs as go
# import plotly

chart_studio.tools.set_credentials_file(username='dishha', api_key='CmkdrDbPF7sMOY60fOMY')
mapbox_token = os.getenv('pk.eyJ1IjoiZGlzaGhhIiwiYSI6ImNrMDlmNGlzczA2NzQzZG9jcjc5NjEwZnoifQ.kH_uVGITVBICzi6QnWcVhg')

from mapboxgl.utils import create_color_stops, df_to_geojson
from mapboxgl.viz import CircleViz

from opencage.geocoder import OpenCageGeocode
key = 'cddaa05552b243d390c990b52dbd72dd' #opencage geocode key

In [3]:
df = pd.read_excel("All_Cities.xlsx")

In [4]:
df.head()

   year  month  day  SO2   NO2  PM10  Stn Code           State           City
0  2015      1    1  9.0  18.0  46.0       233  Andhra Pradesh  Visakhapatnam
1  2015      1    4  8.0  18.0  27.0       233  Andhra Pradesh  Visakhapatnam
2  2015      1    7  9.0  15.0  29.0       233  Andhra Pradesh  Visakhapatnam
3  2015      1   10  7.0  17.0  78.0       233  Andhra Pradesh  Visakhapatnam
4  2015      1   13  9.0  23.0  35.0       233  Andhra Pradesh  Visakhapatnam

In [10]:
df.shape

(213083, 9)

In [4]:
df["year"].unique()

array([2015, 2014, 2013, 2012, 2011], dtype=int64)

In [5]:
df["State"].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi',
       'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telangana',
       'Uttarakhand', 'Uttar Pradesh', 'West Bengal', 'Bihar'],
      dtype=object)

In [8]:
df["State"].nunique()

31

In [7]:
df["City"].unique()

array(['Visakhapatnam', 'Tirupati', 'Vijayawada', 'Kurnool', 'Kakinada',
       'Nellore', 'Chittoor', 'Guntur', 'Ananthapur', 'Kadapa', 'Eluru',
       'Srikakulam', 'Vizianagaram', 'Ongole', 'Rajahmundry', 'Itanagar',
       'Naharlagun', 'Guwahati', 'Bongaigaon', 'Tezpur', 'Sivasagar',
       'Dibrugarh', 'Golaghat', 'Daranga', 'Silcher', 'Margherita',
       'Lakhimpur', 'Tinsukia', 'Nagaon', 'Nalbari', 'Chandigarh',
       'Bhilai', 'Raipur', 'Korba', 'Bilaspur', 'Khadoli', 'Daman',
       'Delhi', 'Vasco', 'Panaji', 'Curchorem', 'Usgao', 'Codli', 'Honda',
       'Bicholim', 'Amona', 'Assanora', 'Margao', 'Mapusa', 'Ponda',
       'Sanguem', 'Tilamol', 'Kundaim', 'Cuncolim', 'Surat', 'Vadodara',
       'Ahmedabad', 'Vapi', 'Ankleshwar', 'Rajkot', 'Jamnagar',
       'ANKLESHWAR', 'VAPI', 'Bharuch', 'Bhuj', 'MORBI', 'SANAND',
       'Sarigam', 'Faridabad', 'Shimla', 'Paonta Sahib', 'Parwanoo',
       'Damtal', 'Baddi', 'Kala Amb', 'Nalagarh', 'Sunder Nagar', 'Una',
       'Manali', 'Dharamshala', 'Jammu', 'Dhanbad', 'Sindri', 'Jharia',
       'Jamshedpur', 'Ranchi', 'Saraikela Kharsawan', 'West Singhbhum',
       'Mysore', 'Bangalore', 'Hubli', 'Dharwad', 'Hassan', 'Gulbarga',
       'Belgaum', 'Mangalore', 'Domlur', 'Davangere', 'Ranebennur',
       'Mandya', 'Raichur', 'Bijapur', 'Chitradurga', 'Shimoga', 'Kolar',
       'Bidar', 'Tumkur', 'Kochi', 'Thiruvananthapuram', 'Kottayam',
       'Palakkad', 'Kozhikode', 'Alappuzha', 'Pathanamthitta', 'Kollam',
       'Wayanad', 'Malappuram', 'Thissur', 'Nagda', 'Bhopal', 'Indore',
       'Jabalpur', 'Satna', 'Gwalior', 'Singrauli', 'Dewas', 'Ujjain',
       'Sagar', 'Chhindwara', 'Amlai', 'Pithampur', 'Nagpur', 'Mumbai',
       'Nashik', 'Dombivli', 'Chandrapur', 'Solapur', 'Thane', 'Pune',
       'Lote', 'Navi Mumbai', 'Kolhapur', 'Aurangabad', 'Amravati',
       'Sangli', 'Latur', 'Jalgaon', 'Ulhasnagar', 'Badlapur', 'Akola',
       'Nanded', 'Jalna', 'Shillong', 'Byrnihat', 'Dawki', 'Tura',
       'Nongstoin', 'Khliehriat', 'Umsning', 'Aizawl', 'Champhai',
       'Kolasib', 'Lunglei', 'Dimapur', 'Kohima', 'Talcher', 'Angul',
       'Rourkela', 'Rayagada', 'Bhubaneswar', 'Cuttack', 'Sambalpur',
       'Balasore', 'Berhampur', 'Keonjhar', 'Paradeep', 'Kalinga Nagar',
       'Konark', 'Puri', 'Pondicherry', 'Karaikal', 'Ludhiana',
       'Jalandhar', 'Gobindgarh', 'Naya Nangal', 'Khanna', 'Amritsar',
       'Dera Bassi', 'Bathinda', 'Dera Baba', 'Patiala', 'Sangrur',
       'Faridkot', 'Hoshiarpur', 'Kota', 'Alwar', 'Jodhpur', 'Udaipur',
       'Jaipur', 'Chennai', 'Coimbatore', 'Thoothukudi', 'Madurai',
       'Salem', 'Cuddalore', 'Mettur', 'Trichy', 'Hyderabad',
       'Ramagundam', 'Patancheru', 'Nalgonda', 'Warangal', 'Khammam',
       'Kothur', 'Karimnagar', 'Sangareddy', 'Dehradun', 'Haldwani',
       'Rudrapur', 'Kashipur', 'Haridwar', 'Rishikesh', 'Agra', 'Anpara',
       'Renusagar', 'Kanpur', 'Lucknow', 'Gajraula', 'Ghaziabad',
       'Varanasi', 'Noida', 'Firozabad', 'Jhansi', 'Khurja', 'Allahabad',
       'Moradabad', 'Bareilly', 'Rai Bareilly', 'Unnao', 'Gorakhpur',
       'Howrah', 'Haldia', 'Kolkata', 'Durgapur', 'Asansol',
       'South Suburban', 'Barrackpore', 'Raniganj', 'DANKUNI', 'HALDIA',
       'Kalyani', 'MALDAH', 'SILIGURI', 'ULUBERIA', 'Yamuna Nagar',
       'Nizamabad', 'Patna', 'Hisar', 'Mathura', 'Meerut', 'Mahad',
       'Roha', 'Saharanpur', 'Sankrail'], dtype=object)

In [9]:
df["City"].nunique()

264

Adding Lat Longitude Coordinates Columns

In [7]:
geocoder = OpenCageGeocode(key)

In [8]:
query = 'Andhra Pradesh, Visakhapatnam'  
results = geocoder.geocode(query)
print (results)

[{'annotations': {'DMS': {'lat': "17¬∞ 43' 23.25936'' N", 'lng': "83¬∞ 18' 4.62312'' E"}, 'MGRS': '44QQE4405161046', 'Maidenhead': 'NK17pr63dn', 'Mercator': {'x': 9273056.54, 'y': 1992165.796}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?node=245641840#map=16/17.72313/83.30128', 'url': 'https://www.openstreetmap.org/?mlat=17.72313&mlon=83.30128#map=16/17.72313/83.30128'}, 'UN_M49': {'regions': {'ASIA': '142', 'IN': '356', 'SOUTHERN_ASIA': '034', 'WORLD': '001'}, 'statistical_groupings': ['LEDC']}, 'callingcode': 91, 'currency': {'alternate_symbols': ['Rs', '‡ß≥', '‡´±', '‡Øπ', '‡§∞‡•Å', '‚Ç®'], 'decimal_mark': '.', 'html_entity': '&#x20b9;', 'iso_code': 'INR', 'iso_numeric': '356', 'name': 'Indian Rupee', 'smallest_denomination': 50, 'subunit': 'Paisa', 'subunit_to_unit': 100, 'symbol': '‚Çπ', 'symbol_first': 1, 'thousands_separator': ','}, 'flag': 'üáÆüá≥', 'geohash': 'tg5hzd6hsw7qpn6myx87', 'qibla': 282.52, 'roadinfo': {'drive_on': 'left', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1567815240, 'astronomical': 1567897260, 'civil': 1567900380, 'nautical': 1567898820}, 'set': {'apparent': 1567859820, 'astronomical': 1567864200, 'civil': 1567861140, 'nautical': 1567862640}}, 'timezone': {'name': 'Asia/Kolkata', 'now_in_dst': 0, 'offset_sec': 19800, 'offset_string': '+0530', 'short_name': 'IST'}, 'what3words': {'words': 'array.delusions.hopping'}, 'wikidata': 'Q200016'}, 'bounds': {'northeast': {'lat': 17.8831276, 'lng': 83.4612842}, 'southwest': {'lat': 17.5631276, 'lng': 83.1412842}}, 'components': {'ISO_3166-1_alpha-2': 'IN', 'ISO_3166-1_alpha-3': 'IND', '_type': 'city', 'city': 'Visakhapatnam', 'continent': 'Asia', 'country': 'India', 'country_code': 'in', 'postcode': '530001', 'state': 'Andhra Pradesh', 'state_code': 'AP', 'state_district': 'Visakhapatnam'}, 'confidence': 3, 'formatted': 'Visakhapatnam, Visakhapatnam - 530001, Andhra Pradesh, India', 'geometry': {'lat': 17.7231276, 'lng': 83.3012842}}, {'annotations': {'DMS': {'lat': "17¬∞ 53' 46.17456'' N", 'lng': "82¬∞ 33' 31.32288'' E"}, 'MGRS': '44QPE6512179387', 'Maidenhead': 'NK17gv75bb', 'Mercator': {'x': 9190392.532, 'y': 2012274.319}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?relation=2022111#map=16/17.89616/82.55870', 'url': 'https://www.openstreetmap.org/?mlat=17.89616&mlon=82.55870#map=16/17.89616/82.55870'}, 'UN_M49': {'regions': {'ASIA': '142', 'IN': '356', 'SOUTHERN_ASIA': '034', 'WORLD': '001'}, 'statistical_groupings': ['LEDC']}, 'callingcode': 91, 'currency': {'alternate_symbols': ['Rs', '‡ß≥', '‡´±', '‡Øπ', '‡§∞‡•Å', '‚Ç®'], 'decimal_mark': '.', 'html_entity': '&#x20b9;', 'iso_code': 'INR', 'iso_numeric': '356', 'name': 'Indian Rupee', 'smallest_denomination': 50, 'subunit': 'Paisa', 'subunit_to_unit': 100, 'symbol': '‚Çπ', 'symbol_first': 1, 'thousands_separator': ','}, 'flag': 'üáÆüá≥', 'geohash': 'tg4ty9vktjvjuxsg99sy', 'qibla': 282.28, 'roadinfo': {'drive_on': 'left', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1567815420, 'astronomical': 1567897440, 'civil': 1567900500, 'nautical': 1567899000}, 'set': {'apparent': 1567860000, 'astronomical': 1567864380, 'civil': 1567861320, 'nautical': 1567862820}}, 'timezone': {'name': 'Asia/Kolkata', 'now_in_dst': 0, 'offset_sec': 19800, 'offset_string': '+0530', 'short_name': 'IST'}, 'what3words': {'words': 'flashing.infamous.pardoning'}, 'wikidata': 'Q15394'}, 'bounds': {'northeast': {'lat': 18.5461854, 'lng': 83.4772563}, 'southwest': {'lat': 17.2456546, 'lng': 81.859175}}, 'components': {'ISO_3166-1_alpha-2': 'IN', 'ISO_3166-1_alpha-3': 'IND', '_type': 'state_district', 'continent': 'Asia', 'country': 'India', 'country_code': 'in', 'state': 'Andhra Pradesh', 'state_code': 'AP', 'state_district': 'Visakhapatnam'}, 'confidence': 1, 'formatted': 'Visakhapatnam, India', 'geometry': {'lat': 17.8961596, 'lng': 82.5587008}}, {'annotations': {'DMS': {'lat': "17¬∞ 43' 17.14980'' N", 'lng': "83¬∞ 17' 26.24028'' E"}, 'MGRS': '44QQE4292260844', 'Maidenhead': 'NK17pr43ud', 'Mercator': {'x': 9271869.662, 'y': 1991968.669}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?node=600807132#map=16/17.72143/83.29062', 'url': 'https://www.openstreetmap.org/?mlat=17.72143&mlon=83.29062#map=16/17.72143/83.29062'}, 'UN_M49': {'regions': {'ASIA': '142', 'IN': '356', 'SOUTHERN_ASIA': '034', 'WORLD': '001'}, 'statistical_groupings': ['LEDC']}, 'callingcode': 91, 'currency': {'alternate_symbols': ['Rs', '‡ß≥', '‡´±', '‡Øπ', '‡§∞‡•Å', '‚Ç®'], 'decimal_mark': '.', 'html_entity': '&#x20b9;', 'iso_code': 'INR', 'iso_numeric': '356', 'name': 'Indian Rupee', 'smallest_denomination': 50, 'subunit': 'Paisa', 'subunit_to_unit': 100, 'symbol': '‚Çπ', 'symbol_first': 1, 'thousands_separator': ','}, 'flag': 'üáÆüá≥', 'geohash': 'tg5hz646u4j6s5r7yg7t', 'qibla': 282.52, 'roadinfo': {'drive_on': 'left', 'road': 'Station Road', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1567815300, 'astronomical': 1567897260, 'civil': 1567900380, 'nautical': 1567898820}, 'set': {'apparent': 1567859820, 'astronomical': 1567864200, 'civil': 1567861140, 'nautical': 1567862640}}, 'timezone': {'name': 'Asia/Kolkata', 'now_in_dst': 0, 'offset_sec': 19800, 'offset_string': '+0530', 'short_name': 'IST'}, 'what3words': {'words': 'streamers.quickly.foods'}, 'wikidata': 'Q7935582'}, 'bounds': {'northeast': {'lat': 17.7264305, 'lng': 83.2956223}, 'southwest': {'lat': 17.7164305, 'lng': 83.2856223}}, 'components': {'ISO_3166-1_alpha-2': 'IN', 'ISO_3166-1_alpha-3': 'IND', '_type': 'station', 'city': 'Visakhapatnam', 'continent': 'Asia', 'country': 'India', 'country_code': 'in', 'neighbourhood': 'Lalitha Nagar', 'postcode': '530001', 'road': 'Station Road', 'state': 'Andhra Pradesh', 'state_code': 'AP', 'state_district': 'Visakhapatnam', 'station': 'Visakhapatnam', 'suburb': 'Srinivasa Nagar'}, 'confidence': 8, 'formatted': 'Visakhapatnam, Station Road, Srinivasa Nagar, Visakhapatnam - 530001, Andhra Pradesh, India', 'geometry': {'lat': 17.7214305, 'lng': 83.2906223}}]

In [9]:
lat = results[0]['geometry']['lat']

lng = results[0]['geometry']['lng']

print (lat, lng)

17.7231276 83.3012842

In [12]:
list_lat = []   # create empty lists
list_long = []
results_dict = {}

In [13]:
for index, row in df.iterrows():
    City = row['City']
    State = row['State']
    query = str(City)+','+str(State)
    if query not in results_dict:
        results_dict[query] = geocoder.geocode(query)

In [14]:
for index, row in df.iterrows():
    City = row['City']
    State = row['State']
    query = str(City)+','+str(State)
    for k in results_dict:
        if query == k:
            lat = results_dict[k][0]['geometry']['lat']
            long = results_dict[k][0]['geometry']['lng']
            list_lat.append(lat)
            list_long.append(long)

In [15]:
df['lat'] = list_lat   
df['lon'] = list_long

In [20]:
df.head()

,year,month,day,SO2,NO2,PM10,Stn Code,State,City,lat,lon
0,2015,1,1,9.0,18.0,46.0,233,Andhra Pradesh,Visakhapatnam,17.723128,83.301284
1,2015,1,4,8.0,18.0,27.0,233,Andhra Pradesh,Visakhapatnam,17.723128,83.301284
2,2015,1,7,9.0,15.0,29.0,233,Andhra Pradesh,Visakhapatnam,17.723128,83.301284
3,2015,1,10,7.0,17.0,78.0,233,Andhra Pradesh,Visakhapatnam,17.723128,83.301284
4,2015,1,13,9.0,23.0,35.0,233,Andhra Pradesh,Visakhapatnam,17.723128,83.301284

In [ ]:
for index, row in df.iterrows():
    Date = pd.to_datetime()

In [22]:
df["Date"] = pd.to_datetime((df.year*10000+df.month*100+df.day).apply(str),format='%Y%m%d')

In [23]:
df.head()

,year,month,day,SO2,NO2,PM10,Stn Code,State,City,lat,lon,Date
0,2015,1,1,9.0,18.0,46.0,233,Andhra Pradesh,Visakhapatnam,17.723128,83.301284,2015-01-01
1,2015,1,4,8.0,18.0,27.0,233,Andhra Pradesh,Visakhapatnam,17.723128,83.301284,2015-01-04
2,2015,1,7,9.0,15.0,29.0,233,Andhra Pradesh,Visakhapatnam,17.723128,83.301284,2015-01-07
3,2015,1,10,7.0,17.0,78.0,233,Andhra Pradesh,Visakhapatnam,17.723128,83.301284,2015-01-10
4,2015,1,13,9.0,23.0,35.0,233,Andhra Pradesh,Visakhapatnam,17.723128,83.301284,2015-01-13

In [25]:
df.to_csv('updated.csv')